<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">OShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="product" class="nav-link" href="#">Product <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="employee" class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>
        <button class="btn btn-primary my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#sem-login">Login & SignUp</button>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Cart</button>
    </div>
</nav>


<!-- The Modal Register -->
<div class="modal fade seminor-login-modal" data-backdrop="static" id="sem-reg">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <h5 class="modal-title text-center">CREATE AN ACCOUNT</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </button>
                <form class="seminor-login-form">
                    <div class="form-group">
                        <input type="name" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="name">User Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="name">Email address</label>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="name">Phone Number</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="name">Address</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="password">Password</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="password">Confirm Password</label>
                    </div>
                    <div class="btn-check-log">
                        <button type="submit" class="btn-check-login">SIGN UP</button>
                    </div>
                    <div class="create-new-fau text-center pt-3">
                        <a href="#" class="text-primary-fau"><span data-toggle="modal" data-target="#sem-login" data-dismiss="modal">Already Have An Account</span></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- The Modal Login -->
<div class="modal fade seminor-login-modal" data-backdrop="static" id="sem-login">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <h5 class="modal-title text-center">LOGIN TO MY ACCOUNT</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </button>
                <form class="seminor-login-form">
                    <div class="form-group">
                        <input type="email" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="name">Email address</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required autocomplete="off">
                        <label class="form-control-placeholder" for="password">Password</label>
                    </div>
                    <div class="btn-check-log">
                        <button type="submit" class="btn-check-login">LOGIN</button>
                    </div>
                    <div class="forgot-pass-fau text-center pt-3">
                        <a href="#" class="text-secondary">Forgot Your Password?</a>
                    </div>
                    <div class="create-new-fau text-center pt-3">
                        <a href="#" class="text-primary-fau"><span data-toggle="modal" data-target="#sem-reg" data-dismiss="modal">Create A New Account</span></a>
                    </div>



                </form>

            </div>
        </div>
    </div>
</div>



<router-outlet></router-outlet>